[Unit]
Description=Gonarch Core module
# Documentation=""

[Service]
Type=simple
User=root
Group=root
TimeoutStartSec=0
Restart=always
RestartSec=30s
SyslogIdentifier=gonarch-core
WorkingDirectory=/opt/gonarch
ExecStart=/opt/gonarch/core

[Install]
WantedBy = multi-user.target